@using BandProject.Models
<!DOCTYPE html>
<html>
<head>
    <title>Welcome to our favourite bands</title>
</head>
<body>
    <h1>Welcome</h1>
<p>
    @ViewBag.Band.Name, @ViewBag.band.Description
</p>  
    <a href="../"><h2>Home</h2></a>
</body>
</html>