@using BandProject.Models
@{
    Layout = "_Layout";
    ViewBag.title = "Bands";
}

<h3>Welcome</h3>
<ul>
    @foreach (Band band in ViewBag.bands)
    {
        <li>@Html.Partial("BandBox")</li>
    }
</ul>
