<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
</head>
<body>
    <h1>Acme</h1>
    <div style="background-color:#ff0000">
        @RenderBody()
    </div>
    <footer>
        &copy; Acme 2017
    </footer>
</body>
</html>
